[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "DaisySP"]
	path = lib/DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "lib/eurorack"]
	path = lib/eurorack
	url = https://github.com/pichenettes/eurorack.git
